body{
  margin: 0;
  padding: 0;
  background-image: url(./assets/img/beautiful-natural-clouds-sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: capitalize;
}

.weathers
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.weather_data{
  margin: 20px 0  ;
  background-color: rgba(76, 119, 168, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 35%;
  display: inline-block;
  text-align: center;
  color: white;
}
.searchBar{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;

}
.searchBar input{
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  width: 75%;
}
.btns{
  border: none;
  border-radius: 20px;
  background-color: rgb(131, 131, 245);
  position: absolute;
  color: white;
  padding: 10px 15px;
  top: -20px;
  right: 59px;
  margin-top: 20px;
  text-align: center;
  bottom: 0px;
}
.city_name{
  display: flex;
  align-items: center;
  justify-content: center;
}
.temp{
  font-size: 50px;
  font-weight: 600;
}
.locals1{
  position: absolute;
  bottom: 0;
  left: 5%;
}
.humidity{
  font-size: 20px;
}
.locals2{
  position: absolute;
  bottom: 0;
  right: 5%;
}
.locals{
padding-top: 80px;
}
.rise_set{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 15px;
  padding: 25px;
}